.PlayerItemComponent__container--wrapper {
    width: 100%;
}

.PlayerItemComponent__container--wrapper > p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.PlayerItemComponent__container--wrapper > p:nth-child(2),
.PlayerItemComponent__container--wrapper > p:nth-child(3) {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0 0 0;
}

.CreatePlayerComponent__container--wrapper,
.ChampionshipListComponent__container--wrapper,
.CreateChampionshipComponent__container--wrapper {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.CreatePlayerComponent__container--wrapper > h1,
.ChampionshipListComponent__container--wrapper > h1,
.CreateChampionshipComponent__container--wrapper > h1 {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.CreatePlayerComponent__container--wrapper > div:nth-child(5),
.CreateChampionshipComponent__container--wrapper > div:nth-child(6) {
    margin: 20px 0;
}

.CreatePlayerComponent__button--confirm,
.CreateChampionshipComponent__button--confirm {
    background-color: #478610 !important;
    margin-right: 10px !important;
}

.CreatePlayerComponent__button--decline,
.CreateChampionshipComponent__button--decline {
    color: #478610 !important;
    border: 1px solid #478610 !important;
}

.ChampionshipListComponent__button--decline {
    color: #478610 !important;
    border: none !important;
}

.ChampionshipListComponent__container--button {
    width: 100%;
    text-align: center;
    margin: 10px 0
}

.ChampionshipListComponent__container--date {
    font-size: 12px;
    color: gray
}

.ChampionshipListComponent__container--footballMatches > h3 {
    font-size: 16px;
    color: #478610
}

.ChampionshipListComponent__container--editIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}