.Apps__container--wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    gap: 10px;
}

.Apps__container--wrapper > div {
    width: 100%;
    height: 110px;
    border-radius: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    -webkit-box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    -moz-box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    flex-direction: column;
}

.Apps__container--wrapper > div:nth-child(3) {
    margin-right: 0;
}

.Apps__container--wrapper > div > p {
    margin: 0;
    font-size: 10px;
}

.Apps__icon {
    color: #fff;
}

.Home__container--img > div {
    width: 100%;
    height: 180px;
    position: relative;
}

.Home__container--img > div > div {
    position: absolute;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 180px;
}

.Home__container--img > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.UpcomingFootballMatches__container--item {
    width: 100%;
    height: 100%;
}

.UpcomingFootballMatches__container--item > h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.UpcomingFootballMatches__container--item > p {
    margin: 0;
    font-size: 14px;
    padding-top: 5px
}

.Championship__container--item {
    width: 100%;
    height: 80px;
    display: flex;
}

.Championship__container--item > div:nth-child(1) {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    box-sizing: border-box;
}

.Championship__container--item > div:nth-child(1) > p:nth-child(1) {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.Championship__container--item > div:nth-child(1) > p:nth-child(2) {
    font-size: 14px;
    margin: 0
}

.Championship__container--item > div:nth-child(2) {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.Championship__container--item > div:nth-child(2) > div {
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.Championship__container--item > div:nth-child(2) > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Utils__container--wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 48.5%);
    width: 100%;
}

.Utils__container--wrapper > div {
    /* border: #478610 1px solid; */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    -webkit-box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    -moz-box-shadow: -1px 5px 21px -4px rgba(0,0,0,0.13);
    justify-content: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Utils__container--wrapper > div > h2 {
    font-size: 16px;
    text-align: center;
    color: #478610;
    margin: 10px 0 0 0;
}

.Utils__container--wrapper > div > p {
    font-size: 14px;
    text-align: center;
    margin: 5px 0 10px 0;
}

.UpcomingFootballMatches__container--chip {
    width: fit-content;
    padding: 5px 0;
    height: fit-content;
    margin-top: 10px
}

.UpcomingFootballMatches__container--chip > p {
    margin: 0
}

.UpcomingFootballMatches__container--chip--inactive,
.UpcomingFootballMatches__container--chip--active {
    background-color: gray;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.UpcomingFootballMatches__container--chip--active {
    background-color: #478610;
}

.UpcomingFootballMatches__container--editIcon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}